@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";


@theme {
  --font-primary: "League Spartan", sans-serif;
  --font-secondary: "Merriweather", serif;
  --font-button: "Nunito", sans-serif;

  --color-dark: #111111; 
}

.dark-theme {
    --main-heading: #1788ae; 
    --pera-color: #b0b2c3;
    --text-color: white;
    --h1-color: white;
    --btn-bg-color: #4595eb;
    --btn-text-color: white;
    --bg-color: #111111;
    --btn-color: #111111;
    --about-icon: #27292d;
}

.light-theme {
    --main-heading: #1788ae; 
    --pera-color: #53566e;
    --text-color: black;
    --btn-bg-color: #4595eb;
    --btn-text-color: black;
    --btn-icon-color: black;
    --bg-color: white;
    --h1-color: #4c4f65;
    --border-color: #1788ae;
    --btn-color: #ffffff;
    --about-icon: #b0b2c3;
}

section, footer ,.aboutPart {
  background: var(--bg-color);
}

.logo{
  stroke: var(--btn-text-color);
}

ul{
  color: var(--pera-color);
}

ul li a:hover{
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

h1{
  color: var(--h1-color);
}

.btn{
  color: var(--btn-text-color);
}


h2 {
  color: var(--main-heading);
  border-color: var(--main-heading);
}

.btn-bg {
  background: var(--btn-color);
}

.line {
  background: var(--main-heading);
}

.circle {
  background: var(--bg-color);
}

.x_icon {
  background: var(--about-icon);
}
